.nstInfo{
    display: flex;
    height: 280px;
    margin: 20px;    
}

.display{
    flex-basis: 30%;
    justify-content: center;
}

.toggle{
padding: 20px;
flex-basis: 20%;
}

.nstInfoForm{
    flex-basis: 50%;
    padding-left: 20px;
}

.cont {
    border-color: black;
    border: 1px;
    //border-style: solid;
}


.nstInfoForm{
    display: flex;
    flex-direction: column;
}

.dateInput {
    width: 201px;
    margin-right: 20px;
}

.footerButtons{
    display: flex;
    justify-content: space-between;
}